.categoryDeleteDialog {
    position: fixed;
    left: calc(50% - 16.8rem);
    top: calc(50% - 4rem);
    width: 18rem;
    height: 8rem;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 0 0 0.5rem 0.2rem #0b103330;
    border-radius: 0.25rem;
    padding: 0.5rem;
    z-index: 300;
}

.dialogTitle {
    text-align: right;
    font-size: 0.9rem;
    color: #0b1033;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
}

.buttonsKeeper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

@media screen and (max-width: 992px) {
    .categoryDeleteDialog {
        left: calc(50% - 9rem);
    }
}