.createCategoryModal {
    width: 34rem;
    height: 20rem;
    top: calc(50% - 10rem);
    left: calc(50% - 24.8rem);
}

.TextField {
    width: 100%;
    text-align: right;
    margin-top: 1rem;
    // margin-bottom: 1rem;
}

@media screen and (max-width: 992px) {
    .createCategoryModal {
        left: calc(50% - 17rem);
    }
}

@media screen and (max-width: 768px) {
    .createCategoryModal {
        width: 90%;
        left: 5%;
    }
}